body {
    margin: 0 auto;
    text-align: center;
    color: #e6e6e6;
    background: #000000;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.nav li {
    float: left;
}

.nav li:last-child {
    float: right;
}

.nav a {
    text-decoration: none;
    background: #333333;
    display: block;
    padding: 5px 20px;
    text-align: center;
}

.nav a:hover {
    color: #e6e6e6; 
    background-color: #000099;
}

h1 {
    margin: 40px auto 20px auto;
}

h5 {
    margin: 20px auto 20px auto;
}

.welcome {
    pointer-events: none;
    color: #ffff66; 
}

form{
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: left;
}

label {
    padding: 5px 5px;
}

input {
    background-color: #e6e6e6;
}

select {
    width: 100%;
}

.login_input {
    padding: 5px 5px;
    margin-bottom: 20px;
    width: 100%;
}

input[type="submit"]
{
    margin: 10px 0 0 0;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 5px;
    width: 100%;
    cursor:pointer;
    background-color: #339966;
    color: #e6e6e6;
}

p {
    color: #ffff66;
    font-size: small;
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.small {
    font-size: small;
}

.green {
    background-color: #00b359;
    color: #e6e6e6;
}

.blue {
    background-color: #0033cc;
    color: #e6e6e6;
}

.white {
    color: #e6e6e6;
}

.underline {
    text-decoration: underline;
    vertical-align: bottom; 
}

.nopadding {
    padding: 0 10px;
}

.margin {
    margin: 40px auto;
}

.w40 {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

.border {
    border-collapse: collapse;
    border: 1px solid #e6e6e6;
}

a {
    text-decoration: none;
    color: inherit;
}

td, th {
    padding: 5px 10px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.scroll {
    overflow-x: auto;
    width: 70%;
}

.btn
{
    display: block;
    margin: 0;
    font: inherit;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px 3px;
    cursor: pointer;
}