body {
    margin: 0 auto;
    color: #e6e6e6;
    background: #333333;
    text-align: center;
}

h1, h2 {
    margin: 30px auto;
}

table {
    margin: 0 auto;
    min-width: 40%;
}

th, td {
    padding: 5px 20px;
    text-align: left;
}


select {
    width: 65%;
}

p {
    margin: 5px auto;
    color: deepskyblue;
}

.btn {
    text-decoration: none;
    cursor: default;
    display: inline-block;
    width: 100%;
}


input[type="submit"]
{
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 8px;
    cursor:pointer;
}

input, select {
    background: #e6e6e6;
}

a {
    text-decoration: none;
    color: inherit;
}

.registerLink { 
    text-decoration: underline;
    vertical-align: bottom;
    margin-left: 30%;
}

.loginBtn {
    text-align: right;
}

#loginMessaage {
    padding: 0px 20px;
}

#registerMessaage {
    padding: 0px 20px;
    margin-left: 25%;
}

td[rowspan="2"] {
    vertical-align: top;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav li {
    float: left;
}

.nav li:last-child {
    float: right;
}

.nav a {
    text-decoration: none;
    background: black;
    display: block;
    padding: 5px 20px;
    text-align: center;
}

.nav a:hover {
    color: #cfefff; 
    background-color: #000099;
}

.username {
    float: right;
}

.tableItem {
    background-color: #00004d;
}

.tableForm {
    padding: 10px 10px;

}

button {
    padding: 5.5px 8px;
    border-radius: 3px;
    border: none;
    margin-left: 40px;
}